*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.main{
    width:100%;
    height: 100vh;
    background-color: #d1c9c9;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #b3648c;
}

.main .box {
    position: relative;
    z-index: 10;
    height: 80vh;
    width: 75%;
    background: rgba(255,245,255,0.1);
    backdrop-filter: blur(25px);
    border:3px solid #b3648c;
    border-radius: 20px;
    box-shadow: -15px 17px rgba(10,10,10,0.15);
    padding:0 40px 0 80px;
}
.box nav{
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    word-spacing: 10px;
    align-items: center;
    height: 70px;
    width: 100%;
}
.box nav .logo{
    color:#460a28;
    font-weight: Bold;
    font-size: 30px;
}
.logo{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-bottom: 10%;
}
.logo span{
    color: rgb(238, 238, 238);
    font-size: 27px;
}
.navlists a{
    color:#2354e9;
    margin-left: 40px;
    text-transform:capitalize;
    transition: 0.3s;
}
.navlists a:hover,
.navlists a.active{
    color: #b3648c;
}
.main .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.main .content .info{
    width: 40%;
}
.main .content .info h1{
  margin-top: 20%;
    font-size: 28px;
    color: whitesmoke;
}

.main .content .info h4{
    color:#460a28;
    margin-top: 5%;
    font-size: 25px;
}
.content .info p{
    color: #460a28;
    margin-top: 2%;
    font-size: 18px;
    font-weight: 300;
   padding-bottom: 10%;
   Text-align:  justify;
   line-height: 22px;
}
.content .info h3{
    color: #460a28;
    font-size: 18px;
    font-weight: 600;
}
.main .mypropic{
    width: 25%;
    background-color: #460a28;
    padding:10px;
    border: 8px solid;
    border-color: #b3648c;
    border-radius: 30%;
    display: inline-block;
}
.main .content .mypropic img{
    width: 100%;
    border-radius: 50%;
}

.main .btn{
    padding: 15px 20px;
    margin-top: 5%;
    background-color: #460425;
    border:#460a28;
    color: whitesmoke;
    border-radius: 20px;
    font-weight: bold;
}
.main .content .info .btn:hover{
    color: #460a28;
    transition: 0.3s;
    background-color: transparent;
}
.socialink{
    position:absolute;
    top:40%;
    right: 10px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}
.socialink a i{
    font-size: 20px;
    cursor: pointer;
    color: #b3648c;
    margin-bottom: 20px;
    transition: 0.4s;
}
.socialink a i:hover{
    color: #460a28;


}

.btn{
    color: aquamarine;
}

/*KEYFRAME ANIMATION*/

@keyframes slideTop {
    0%{
        opacity:0;
    transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform:translateY(50px);   
}
}